*{
    scroll-behavior: smooth;
}

/* css slider navegação manual */

/* .image-box input{
    display: none;
}  

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: auto;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    margin-bottom: 100px;    
}

.manual-btn{
    border: 2px solid #b4b4b4;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;   
}

.manual-btn:not(:last-child){
    margin-right: 10px;
}

.manual-btn:hover{
    background-color: #222222;
    border: 2px solid #222222; 
}

#radio1:checked ~ .slideFirst{
    margin-left: 0;
}

#radio2:checked ~ .slideFirst{
    margin-left: -20%;
}

#radio3:checked ~ .slideFirst{
    margin-left: -40%;
}

#radio4:checked ~ .slideFirst{
    margin-left: -60%;
}
#radio5:checked ~ .slideFirst{
    margin-left: -80%;
}

#radio6:checked ~ .slideFirst{
    margin-left: -100%;
} */

/* FIM css slider navegação manual */







/* Animação JS*/

[data-anime] {
    opacity: 0;  
  }
  
  [data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
    transition: all .7s ease-in-out;
  }
  
  [data-anime="right"] {
    transform: translate3d(50px, 0, 0);
    transition: all .7s ease-in-out;  
  }

  [data-anime="top"] {
    transform: translate3d(0px, -50px, 0);
    transition: all .7s ease-in-out;  
  }

  [data-anime="botton"] {
    transform: translate3d(0px, 50px, 0);
    transition: all .7s ease-in-out;  
  }

  [data-anime=appear] {
      transform: perspective(7deg);
      transition: all .7s ease-in-out;
  }
  
  [data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition: all .7s ease-in-out;
  }
  /* FINAL Animação JS*/






  /******** JS MODAL *******/

.image-view{
    position: fixed;    
    top: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: none;    
}

.image-box{
    width:70vw;
    height: 80vh;
    position: fixed;    
    top: 50%;
    left: 50%;
    border-radius: 15px;
    box-shadow: 0 0 1em #ddd;
    transform: translate(-50%, -50%);    
    display: none;
    z-index: 9999999;
}

.buttons{
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.37);
    bottom: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.btnNavigation{    
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    position: absolute; 
    justify-content: space-around; 

}

#prev-btn, #next-btn{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: relative;
    position: fixed;
    bottom: 3px;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    cursor: pointer;
}

#prev-btn{
    border-right: 40px solid #8cc1d9;
    left: 30%;
}

#next-btn{
    border-left: 40px solid #8cc1d9;
    right: 30%;
}

#close-btn{    
    width: 40px;
    height: 40px;
    bottom: -25px;            
    border-radius: 50%;
    background:#8cc1d9; 
    position: relative;    
    transform: translateY(-50%);
    transition: all 0.5s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close{    
    font-size: 40px;
    color: rgb(221, 221, 221);
}

#next-btn:hover, #prev-btn:hover, #close-btn:hover{
    opacity: 0.6;   
}


/******** FINAL JS MODAL *******/






/* *************************************** */


body{
    margin: 0px;
    padding: 0px;   
    display: flex; 
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 100%;    
    height: auto;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 1em #444;      
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    flex-wrap: wrap;   
}

.groupHeader{
    width: 100%;    
    height: 80px;
    background-color: transparent;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 1em #444;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;       
    z-index: 99999;
    transition: 0.5s;    
}

.fixedMenuTop{    
    background: linear-gradient(45deg,#f8f8f8, #8cc1d9, #f8f8f8);
    box-shadow: 0 0 1em #444;
    height: 60px;
}

.boxHeader{
    width: 100%;
    max-width: 100%;     
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 1;
} 

.header{
    width: 50%;
    height: 80px;
    padding-left: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;    
}

.titlleHeader{   
    font-size: 19px;    
    -webkit-linear-gradient: left,  #23232e, #0092d6;
    background: linear-gradient(to right,  #23232e, #0092d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-family: sans-serif;
    text-align: center;
    text-shadow: #313131;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
     width: 32px;
     height: 2px;
     background-color: #005772;
     margin: 8px;
     right: 10px;
}

.groupMenu{
    width: 60%;
    height: auto;         
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;      
}

.nav-list{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;  
}

.menu{    
    font-size:15px;
    margin-right: 2vh;
    letter-spacing: 1px;    
    float: right;
    font-family: sans-serif;
    color: #005772;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;  
    justify-content: space-around;
    flex-direction: row;
}

.menu:hover{
    color: #23232e;    
}

#redeSocial{
    font-size: 19px; 
    margin-right: 20px;
    cursor: pointer;
    color: #005772;
}

#redeSocial:hover{
    color: #23232e;
}

.groupBanner{       
    width: 100%;
    height:100vh;    
    background-color: #f8f8f8;
    margin-top: 1px;
    box-shadow: 0 -1 1em #444;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;     
}

.banner{
    width: 100%;
    max-width: 100%;
    height:100%; 
    background-image: url(img_portfolio/homeoffice6.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; 
    opacity: .5;   
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

.groupTitlle{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: transparent; 
    z-index: 1;
    position: absolute; 
    flex-direction: row;   
}

.boxTitlle{
    width:45%;    
    height:auto;   
    border-radius: 20px;
    margin: 1.5%;    
    background-color: transparent;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;    
    position: relative;
    flex-wrap: wrap;
}

.titlle{    
    font-size: 5.5em;
    color: #03142b;
    font-family: sans-serif;   
    margin-bottom: -30px;   
    -webkit-linear-gradient: left, #005772, #8cc1d9;
    background: linear-gradient(to left, #005772, #8cc1d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-family: sans-serif;
    text-align: center;    
}

.titlle::before{
    content: '';
    width: 200px;
    height: 6px;
    background-color: #1f4466;
    display: flex;
    margin: 40px auto;   
}

.titlle::after {
    content: '';
    opacity: 1;
    margin-left: 5px;
    display: flex;        
}           
                
.subTitlle{
    font-family: sans-serif;
    font-size: 3.5rem;
    color: #1f4466;
    text-align: center;  
      
}

.subTitlle::after{
    content: '';
    width: 200px;
    height: 6px;
    background-color: #1f4466;
    display: flex;
    margin: 40px auto;
}

.imgTitlle{
    width: 95%;
    min-width: 400px;
    margin-top: -250px;   
    position: absolute;
    border-radius: 25px;
    box-shadow: 0 0 0.5em #333333;
    animation: imgTitlle 6s infinite;
}

    @keyframes imgTitlle{
        0%   {top: 0px; left: 0px;}        
        50%  {top: 75px; left: 75px;}        
        100% {top: 0px; left: 0px;}
}            

.SectorA{
    width: 100%;
    max-width: 100%;
    height: auto;
    box-shadow: -1px 2px 20px #2d2e47;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: absolute; 
    flex-wrap: wrap;
    z-index: 2;
}

.textSectorA{
    font-family: sans-serif;
    font-size: 2.7em;
    color: #2d2e47;
    position: relative;
    text-align: center;    
    z-index: 1;     
}

.textSectorA::after{
    content: '';
    width:80%;
    height: 6px;
    background-color: currentColor;
    display: block;
    margin: 15px auto;
}

.SectorB{
    width: 100%;
    max-width: 100%;
    height: auto;
    box-shadow: -1px 2px 20px #ddd;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: relative;
    flex-wrap: wrap; 
    z-index: 2;
}

.textSectorB{
    font-family: sans-serif;
    font-size: 2.7em;
    color: #ddd;
    position: relative;
    text-align: center;
    z-index: 1;   
}

.textSectorB::after{
    content: '';
    width: 80%;
    height: 6px;
    background-color: currentColor;
    display: block;
    margin: 15px auto;
}

.SectorC{
    width: 100%;
    max-width: 100%;
    height: auto;
    box-shadow: -1px 2px 20px #ffd0d0;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: relative;
    flex-wrap: wrap; 
    z-index: 2;
}

.textSectorC{
    font-family: sans-serif;
    font-size: 2.7em;
    color: #ffd0d0;
    text-align: center;
    position: relative;
    z-index: 1;   
}


.textSectorC::after{
    content: '';
    width: 80%;
    height: 6px;
    background-color: currentColor;
    display: block;
    margin: 15px auto;
}

.SectorD{
    width: 100%;
    max-width: 100%;
    height: auto;
    box-shadow: -1px 2px 20px #ddd;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: absolute; 
    z-index: 2;
}

.textSectorD{
    font-family: sans-serif;
    font-size: 45px;
    color: #ddd;
    text-align: center;
    position: relative;
    z-index: 1;   
}

.textSectorD::after{
    content: '';
    width: 80%;
    height: 6px;
    background-color: currentColor;
    display: block;
    margin: 15px auto;
}

.groupAbout{
    width: 100%;
    height: auto;
    background: linear-gradient(-45deg,#2d2e47, #ffd0d0);
    padding: 0;
    padding-bottom: 60px;
    margin: 0;
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: row;     
}

.boxImgAbout{
    width: 40%;
    margin-top: 50px;    
    height: auto;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imgAbout{
    width: 70%;
    min-width: 230px;
    position: relative;
    box-shadow: 0 0 2em #2d2e47;
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: animationAbout 3s linear infinite; */    
}

    /* @keyframes animationAbout{
        0% {opacity: 1;}
        50% {opacity: 0.8;}
        100% {opacity: 1;}
        RETIREI POIS COLOQUEI UM GIF NO LUGAR
} */

.boxAbout{
    width: 50%;
    height: auto;
    margin-left: 3%;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.boxMyName{
    width: 100%;
    height: 50px;  
    margin-bottom: 20px;
    margin-top: 40px;   
    display: flex;
    justify-content: center;
    align-items: center ;    
}

.titlleAbout{    
    font-family: sans-serif; 
    color: #ddd;   
    font-size: 30px;
    margin-left: 10px;
    text-align: center;    
}

.titlleAbout::after{
    content: '';   
    margin-top: 15px;     
    font-size: 40px;
    color: #ddd;   
    animation: animationName 5s linear infinite;   
}

@keyframes animationName{
    0% {content: 'Mariana Sorrentino';}
    50% {content: '';}
    60% {content: 'Web developer';}
}  

.textAbout{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.aboutMe{
    font-family: sans-serif;
    font-size: 1em;
    color: #ddd;
    text-align: justify;
    margin-left: 10px;
    letter-spacing: .6px;
    word-spacing: 3px;
    line-height: 22px;   
}

.groupService{
    width: 100%;
    height: auto;
    background-color: #ddd;
    position: relative;
    background-image: url(img_portfolio/cod7.jpg);
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
    box-shadow: 0 0 1em #444;
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    z-index: 2; 
}

.imgcod{
    width: 100%;
    height: auto;
    margin-top: 130px;
    position: relative;   
    background-size: cover;
    overflow: hidden;
    object-fit: cover;
    opacity: 0;
}

.opacetyBlack{
    width: 100%;
    height: auto;
    background-color: transparent;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    
}

.opacetyBlack::before{
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: rgba(0, 0, 0, 0.822);
    opacity: 0.8;
    
}

.contanerService{
    width: 100%;
    max-width: 2000px;
    height: auto;
    background-color: transparent;
    position: relative;   
    margin-top: 175px;
    padding-bottom: 50px;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
}

.boxService{
    width: 480px;
    height: auto;
    background-color: transparent;
    position: relative;
    z-index: 1;
    margin: 20px; 
    box-sizing: border-box;
    transition: all 400ms ease;      
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;  
}

.boxService::before{
    content: '';
    position: absolute;
    /* top: 0px;
    left: 0px; (se colocar top e left, o efeito começa da esquerda para a direita*/
    width: 0%;
    height: 300px;
    background: rgba(255, 255, 255, 0.288);
    transition: all 1s ease;
    border-top-color:#ddd;
    border-top-style: solid;    
    border-bottom-width: 5px;
    border-bottom-color:#ddd;
    border-bottom-style: solid;
}

.boxService:hover::before{   
    width: 100%;
    background-color: #8cc1d913;    
    border-width: 3px;
    border-top-width: 5px;
    border-top-color:#ddd;
    border-top-style: solid;    
    border-bottom-width: 5px;
    border-bottom-color:#ddd;
    border-bottom-style: solid;
    transition: 0.7s;    
}

#iconService{
    color: #ddd;
    font-size: 4em;
}

.titlleService{
    color: #ddd;
    font-size: 2em;
    font-family: sans-serif;
    margin: 20px; 
    text-align: center;   
}

.pService{
    color: #ddd;
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: center;
}

.groupPortfolio{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    background: linear-gradient(45deg,#8cc1d9, #ddd, #8cc1d9);
    box-shadow: 0 0 1em #444;
    display: flex;
    justify-content: center;
    align-items: start;    
    flex-wrap: wrap;      
}
    
.containerPortfolio{
    width: 100%;
    max-width: 1600px;
    height: auto;   
    background-color: transparent;
    margin-top: 160px;    
    position: relative;           
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
}

.boxPortfolio{
    width: 480px;
    height: auto;
    background-color: transparent;
    position: relative  ;    
    margin: 15px;
    padding: 5px;    
    box-sizing: border-box;
    box-shadow: -1px 4px 20px #2d2e47;
    border-radius: 15px;
    transition: all 200ms ease;      
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;  
}

.boxPortfolio:hover{    
    transform: scale(1.06);        
} 

.content{
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease;
    color: #fff;
    opacity: 0;
}

.boxPortfolio:hover .content{
    opacity: 1;
    background: rgba(221, 221, 221, 0.329);
    border-radius: 15px;
    
}

.zoom-text{
    width: 70px;
    height: 70px;
    background: #8cc1d9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.2s linear;
}

.content h2{
    padding: 15px 0;
}

.zoom-text:hover{
    cursor: zoom-in;
    transform: scale(1.1);
}

.tittleImgPortifolio{
    font: 1.5em sans-serif;
    color: #2d2e47;
    margin-top: -3px;
    text-align: center;       
}


.tittleImgPortifolio::after{
    content: '';
    width: 300px;
    height: 3px;
    background-color: currentColor;
    display: block;
    margin: 5px auto;
}

.imgPortfolio{
    width: 100%;
    height: 275px;
    padding: 0; 
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.groupInfo{
    width: 100%;
    height: 750px;
    background-image: url(img_portfolio/homeoffice3.jpg);   
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.7;
    box-shadow: 0 0 1em #444;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.partition{
    width: 100%;
    height: 275px;
    background-color: transparent;
}

.boxInfo{
    width: 100%;
    height: 350px;
    background-color: #8cc1d98f;
    font-family: sans-serif;
    font-size: 2em;
    color: #2d2e47;
    box-shadow: -4px 4px 10px #2d2e47;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    z-index: 10;    
}

.btnContate{
    width: 200px; 
    height: 40px; 
    font-size: 20px;
    border-radius: 8px;
    border: solid 1.5px #2d2e47;
    box-shadow: 4px 4px 10px #2d2e47;
    background: linear-gradient(45deg,#2d2e47, #ffb5d8); 
    color: #fff;  
    cursor: pointer;     
    z-index: 1;
    transition: transform 0.5s;  
}

.btnContate:hover{    
    animation: jump 1s;
}

 
@keyframes jump{
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40%{
        -webkit-transform: translateY(-15px);
        transform: translateY(-15%);
    }

    80%{
        -webkit-transform: translateY(-8px);
        transform: translateY(-8%);
    }
}

.boxBtn{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -60px;
}

.btnTop{
    width: 200px; 
    height: 40px; 
    font-size: 20px;
    border-radius: 8px;
    border: solid 1.5px #2d2e47;
    box-shadow: 4px 4px 10px #2d2e47;
    background: linear-gradient(-45deg,#2d2e47, #8cc1d9); 
    color: #fff;  
    cursor: pointer;     
    z-index: 1; 
    position: relative;
    margin-top: 20px;
    transition: transform 0.5s;  
}

.btnTop:hover{
    transform: scaleX(1.1) scaleY(1.1);
}

.groupBaseboard{
    width: 100%;
    height: auto;
    background: linear-gradient(-45deg,#313131, #ffb5d8, #313131);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;    
}

.boxSolutions{
    width: 100%;
    height: auto;
    background-color: transparent;
    margin-top: 50px;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative; 
}

.solutions{
    width: 100%;
    height: auto;
    background-color: transparent;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
}

.titlleSolutions{
    font-family: sans-serif;
    color: #ffd0d0;
    font-size: 1.6em;
}


.textSolutions{
    width: 100%;
    height: auto;
    background-color: transparent;
    font-family: sans-serif;
    font-size: 1em;
    color: #ffd0d0;
    line-height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
}

.boxSocial{
    width: 100%;
    height: auto;
    background-color: transparent;
    font-family: sans-serif;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.baseboardSocial{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #ffd0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.5s;
}

.baseboardList{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

#BBSocial{
    font-size: 1.8em; 
    cursor: pointer;
    color: #313131;   
}

.baseboardSocial:hover{
    background-color: #313131; 
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    transition:all ease 0.3s;
}

.baseboardSocial:hover >#BBSocial{
    color: #ffd0d0;
}



.developer{
    width: 100%;
    height: auto;
    background-color: transparent;
    font-family: sans-serif;
    color:#ffd0d0;
    font-size: .8em;    
    margin: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}








/****** MEDIA QUERIES MODAL *******/

@media only screen and (max-width: 1300px){
    .image-box{
        width: 80%;
        height: 75vh;
    }

}

@media only screen and (max-width: 992px){
    .container{
        grid-template-columns: 1fr;
    }

    .image-box{
        width: 85%;
        height: 55vh;
    }

    #prev-btn{
       left: 10%!important;
    }
    #next-btn{
        right: 10%!important;
    }
    
}

@media only screen and (max-width: 678px){
    .image-box{
        height: 40vh;
    }
}

@media only screen and (max-width: 400px){
    .image-box{
        height: 25vh;
    }
}







/****** MEDIA QUERIES *******/

@media only screen and (min-width: 2100px) {
    
    .container{
        max-width: 2100px;
    }

    .SectorB{
        max-width: 2100px;
    }
}


@media only screen and (max-width: 1300px) {

    .groupMenu{
        padding-right: 100px;
        padding-right: 200px;
        transition: all .9s ease-in-out;  
    }

    .boxTitlle{
        width: 100%;
        right: 20%;    
        transition: all .9s ease-in-out;
    }

    .titlle{
        font-size: 5em;
        transition: all .5s ease-in-out;
    }

    .subTitlle{
        font-size: 2.5em;
        transition: all .5s ease-in-out;
    }


    .imgTitlle{
        display: none;
        transition: all .9s ease-in-out;
    }

    .groupAbout{
        flex-direction: column;
        transition: all .9s ease-in-out;        
    }

    .boxImgAbout{
        padding-top: 50px;
        transition: all .9s ease-in-out;  
    }

    .boxAbout{
        width: 100%;        
    }

    
}


@media only screen and (max-width: 880px) {

    .body{
        overflow-x: hidden;
    }
    /* overflow-x: hidden; QUER DIZER QUE SE ALGO TRANSBORDA DO BODY. FICA ESCONDIDO E NÃO APARECE O SCROLL VERTICAL */

         
    .groupHeader{
        width: 100%;       
    }

    .boxHeader{
        width: 100%;        
        margin: 0;  
    }

    .header{
        width: 100%;
        margin-left: 50px;
        margin-right: 100px;
    }

    
    .nav-list {
        position: absolute;
        top: 3vh;
        right: 0;
        width: 100%;
        height: 80vh;        
        background: #8cc1d9;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
      }

      .nav-list li {
        margin-left: 0;
        opacity: 0;
      }

      .mobile-menu {
        display: block;        
        transition: all .5s ease-in-out;
      }

    
    .nav-list.active {
      transform: translateX(0);     
    }

    .boxService{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
      opacity: 0;
    }
    
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }
    
    .boxTitlle{        
        right: 10%;    
        transition: all .9s ease-in-out;
    }
    
    .titlle{
        font-size: 5.5em;
        transition: all .5s ease-in-out;
    }
   
}




@media only screen and (max-width: 510px){ 

    .container{
        margin: 0;
        padding: 0;
    }   

    .titlle{
        font-size: 4.5em;
        margin-bottom: 10px;
        transition: all .5s ease-in-out;
    }    

    .imgAbout{       
        margin-bottom: 50px;
        transition: all .5s ease-in-out;
    }
  

    .boxTitlle{        
        right: 13%;    
        transition: all .9s ease-in-out;
    }

    .subTitlle{
        font-size: 1.8em;
        transition: all .5s ease-in-out;
    } 

    .textSectorA{
        font-size: 1.7em;
    }

    .textSectorB{        
        font-size: 1.7em;
    }
    
    .textSectorC{        
        font-size: 1.7em;
    }

    .textSectorD{        
        font-size: 1.7em;
    }
    
    .titlleService{
        font-size: 1.5em;          
    }
    
    .pService{        
        font-size: 1em;        
    }

    #iconService{        
        font-size: 3em;
    }

    .boxInfo{
        font-size: 1em;
    }

    .boxSolutions{
        right: 5%;
    }

    .textSolutions{
        font-size: 0.8em;
    }

    .baseboardSocial{
        width: 25px;
        height: 25px;       
    }

    #baseboardSocial{
        font-size: 1em;         
    } 
    
}


@media only screen and (max-width: 325px){

    .boxTitlle{        
        right: 15px;    
        transition: all .9s ease-in-out;
    }

    .titlle{
        font-size: 3.5em;        
        transition: all .5s ease-in-out;
    }
    
    .subTitlle{
        font-size: 1em;
        transition: all .5s ease-in-out;
    }

    .nav-list{        
        right: 90px;
        align-items: flex-start;
        transition: all .9s ease-in-out;               
    }
}
   